<h2>Hello Beautiful Global Cloud World,

<p>
    Leonard P O'Grady here developing local code/apps in ruby on rails;

<p>

    Pushing that code to Git and Github

<p>
    Pulling from Git/Github and hosting that code on Heroku with PostgreSQL</h2>

<p>

    The time is now: <%= Time.now %>

</p>
